.pink{
  color: pink;
}
.lightgray{
  color: lightgray;
}
.lightgreen{
  color: lightgreen;
}
.impact{
  font-family:"Impact", Charcoal, sans-serif;
}
.comic{
  font-family:"Comic Sans MS", cursive, sans-serif
}
.arial{
  font-family: "Arial", Helvetica, sans-serif;
}
.timesnewroman{
  font-family: "Times New Roman", Times, serif;
}
