.tan{
  color: tan;
}
.lightgray{
  color: lightgray;
}
.lightgreen{
  color: lightgreen;
}
.lucida{
  font-family:"Lucida Handwriting", cursive, serif;
}
.blippo{
  font-family: "Blippo", fantasy, cursive;
}
.arial{
  font-family: "Arial", Helvetica, sans-serif;
}
.times{
  font-family: "Times New Roman", Times, serif;
}
